html{   
    font-size: 62.5%; /* Reset para REMS. = 10px 
    Se utilizan REMS en vez de pixeles ya que hay pantallas de celular que tienen mas
    pixeles que pantallas de notebooks*/
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem; /* el size por defecto son 16px */
    line-height: 2;
}


/** globales **/
img{
   max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /* 1200px */
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
    font-weight: 300; /****distinto en video #38 ****/
    text-align: center;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
/** Utilidades **/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.contenido-centrado { /*se usa en pestana anuncio*/
    max-width: 80rem; /*achica el tamaño del contenedor*/
}
/** Botones**/
.boton{
    
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem; /*1 rem arriba y abajo, 3rem izq y derecha */
    /*display: inline-block;  /*inline: bloquea que el boton tome el ancho que quiera
    block:permite poder mover la posicion del boton (a 3 rem) */
    text-align: center;
    border:none;
    display: block;
    flex: 0 0 88%;
}
@media (min-width: 768px) {
    .boton{
        display: block; /*para que tome bien los margins y padding*/
        flex: 0 0 auto;
    }
}
.boton:hover{
    cursor: pointer; /*es para forzar el cambio de cursor en boton*/
}
.boton-amarillo{
    background-color: #e08709;
}
.boton-verde {
    background-color: #71b100;
    display: inline-block;
}

/* Header */
.site-header{ /*Aplica para pestana Nosotros*/
    background-color: #333333;
    padding: 1rem   0   3rem    0;
}
.site-header.inicio {
    background-image: url(img/header.jpg);
    background-position: center center;
    background-size: cover; /* para que tome todo el ancho y alto disp del explorador */
    height: 100vh;
    min-height: 60rem; /* 600px */
}
.contenido-header{
    height: 100%; /*toma la altura del 100% el header principal (site-header) */
    display: flex; /*Posicionar el texto con flexbox */
    flex-direction: column; /* row= de iz a derecha, row-reverse=de derecha a izq 
    colum= de arriba hacia abajo (solo los hijos del header -la barra y el h1-)*/
    justify-content: space-between; /* separa el logo y el texto "venta de casas.." arriba y abajo */
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align:left;
    }
}
.contenido-header h1 {
    color: white;
    padding-bottom: 2rem; 
    max-width: 60rem;  /*acortando el ancho produce el salto de linea */
    line-height: 1.8; /*interlineado (en renglones) */
}
.barra{
    padding-top: 3rem; /* 30 px */
}

@media (min-width: 768px) {
    .barra{
        display: flex; /*alinea logo y navegacion*/
        justify-content: space-between;
        align-items: center;
    }
}
/* Navegacion */
.navegacion a {
    color:white;
    text-decoration: none;
    font-size: 2.5rem; 
    display: block; /*para version movil */    
}

@media (min-width: 768px) {
    .navegacion a {
        display: inline-block; /*alinea los elementos del nav*/
        font-size: 2.2rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin-right: 0rem;
    }
}

.navegacion a:hover{
    color:#71b100;
}
/** Iconos Nosotros **/
.icono {
    text-align: center;
}
.icono h3{
    text-transform: uppercase; 
}
@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex; /* alinea los iconos "seguridad", "el mejor precio" y "a tiempo" */
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .icono{
        flex-basis: calc(33.3% - 1rem); /* cada icono ocupa el 33% de ancho menos 10px de espacio */
    }
}

/** Anuncios **/

.anuncio{
    text-align: center;
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    min-width: 20rem;
}


@media (min-width: 650px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between; /* separacion - video 39 */
        flex-wrap: wrap;
    }
    .anuncio{
        text-align: left;
        flex-shrink: 0; /*para que el anuncio no se achique si falta contenido*/
        flex-wrap: 0; /*para que no se agrande*/
        flex-basis: calc(33.3% - 1rem);
        /*flex: 0 0 calc(33.3% - 1rem);*/
    } 
}

.contenido-anuncio {
    padding: 2rem; /*centra el texto del anuncio */
}
.contenido-anuncio h3 {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}


.iconos-caracteristicas{
    
    
    list-style: none;
    padding: 0;
    display: flex; /* pone iconos horizontal */
    justify-content: space-between;
    max-width: 35rem; /*para que no tomen el ancho de toda la pantalla en pestana anuncio*/
    flex: 1; /*para que crezcan y no queden pegados*/
}
.iconos-caracteristicas li {
    display: flex; /*pone los num horizontal (al lado de los iconos) */
    justify-items: center;
}
.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas { /*para alinear el boton "ver todas" a la derecha */
    display: flex;
    justify-content: flex-end;
}
/** Contacto Home**/
 .imagen-contacto {
        background-image:url(img/encuentra.jpg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        display: flex;
        align-items: center
 }
 .contenido-contacto {
     flex: 0 0 95%; /* factor de crecimiento (detecta cantidad de elementos y 
     los divide entre la cantidad de pixeles disponibles)*/
    color: #f5f5f5;
 }
 .contenido-contacto p {
     font-size: 1.8rem;
 }
 /** Seccion inferior */
 @media (min-width: 768px) {
    .seccion-inferior{
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog{
       flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
       flex-basis: calc(40% - 2rem);
    }
 }
 
 .blog h3 {
     text-align: center;
     font-weight: 300;
 }
 .entrada-blog {
    margin-bottom: 2rem; /* separacion vertical entre articulos */
}
 @media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
 }
 
 .entrada-blog :last-of-type{
     margin-bottom: 0;
 }
 @media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
 }

 .texto-entrada a{
    color: black;
    text-decoration: none;
}
 .texto-entrada h4{
     margin: 0;
     line-height: 3rem;
 }
 .texto-entrada h4::after{ /* crear seudo-elemento desp del h4 */
    content: '';
    display: block; /*permite definir width y height y crear la barrita */
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
 }
 .texto-entrada span{
     color: #e08709;
 }
 /** Testimoniales**/
 .testimoniales h3{
    text-align: center;
    font-weight: 300;
 }
.testimonial {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #f5f5f5;
    border-radius: 10%; /*redondear el cuadrado-quote */
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{ /*para agregar la comilla antes del quote */
    content: '';
    background-image: url(img/comilla.svg);
    display: block; /*debe tener alto y ancho definido */
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem; 
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem; /*corro el texto a la derecha para dejar espacio a la comilla */
    font-weight: 300;
}
/**Footer**/
.site-footer {
    background-color: #333333;
    margin:0;
}
.site-footer p{
    font-size: 1.1rem;
    padding-top: 2rem;
    margin:0;
    color: white;
}
@media (min-width: 768px) {
    .site-footer p{
        font-size: 1.6rem;
        padding-top: 0;
    }
}
.contenedor-footer {
    text-align: center;
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
/* PAGINAS INTERNAs*/
/* Nosotros*/
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid; /*divide en columnas*/
        grid-template-columns: 50% 50%;
        grid-column-gap: 2rem; /* Separacion entre columnas */
    }
}

.texto-nosotros blockquote{
    font-weight: 700;
    font-size: 3rem;
    margin:0;
    padding: 0 0 3.5rem 0; /*solo padding abajo*/
}

/*Anuncio*/
.resumen-propiedad{
    display: flex;
    justify-content: space-between; /*alinea horizontal*/
    align-items: center; /*alinea vertical*/
}
/**CONTACTO**/
form p{
    font-size: 2rem;
    font-weight: 300;
}
legend{
    font-size: 2.5rem;
    color: #4f4f44;
    font-weight: 300;
}
label{
    display: block; /*toma todo el espacio disponible*/
    font-weight: 700;
    text-transform: uppercase;
}

/*selector de atributos []  toma todos los input menos "submit"??*/ 

input:not([type="submit"]),
textarea,
select{
    padding: 1rem;
    display: block;
    width: 97.5%;
    background-color: #e1e1e1;
    /*margin-bottom: 2rem;*/
    border:none;
    border-radius: 1rem;
}
textarea{
    height: 20rem;
}
input [type="radio"]{
    width: auto;
    margin:0px;
    
}
.contacto{
    display:flex;
    justify-content: space-around;
}
.f-contacto{
    display: grid;
    grid-template-columns: 40% 20%;
    grid-row-gap: 2.5rem;
    align-items: center;
}
